.graph-bar{
  fill: #00BAFF;
  cursor: pointer;
   /*-webkit-transition: fill 0.4s; */
  /*transition: fill 0.4s;*/
}

/*
.graph-bar:hover{
  fill: #4682B4;
  -webkit-transition: fill 0.4s; 
  transition: fill 0.4s;
}
*/

.block-graph{
  background-color: #474747;
}

#slides{
width: 160px;
margin: 0 auto;
text-align: left;
float: left;
margin-left: 10px;
}

#slides #amount{
  padding: 2px;
}

#slides p{
  padding: 3px;
 font-size: 10px;
  color: white;
  font-weight: bold
}

#slider-range-max{
margin-top: 5px;
width: 145px;
margin-left: 5px;
}

/*.info-button{
  float: left;
  padding: 4px;
  background-color: lightblue;
  cursor: pointer;
}*/
.info-button {
cursor: pointer;
float: left;
background: url("../images/info-button.png")no-repeat scroll rgba(0, 0, 0, 0);
background-size: 50px auto;
height: 22px;
width: 22px;
text-indent: -9999px;
position: absolute;
bottom: 10px;
right: 10px;
}
.info-button:hover{
background-position: -28px -0.5px;
}

#info-text{
  display: none;
  width: 90%;
  height: auto;
  margin-left: 5%;
  background-color: black;
  color: white;
  position: absolute;
  left:0px;
  top: 10px;
  background: rgba(0, 0, 0, 0.85);
}

#info-text table{
  margin: 0 auto;
}

#info-text table td,th{
  font-size: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #888888;
}

#info-text p{
  font-size: 12px;
  padding: 10px;
}

.slider-area {
width: 100%;
background: #2A2A2A;
height: 55px;
padding-top: 5px;
margin-top: 5px;
}

.source p{
  padding: 4px;
  font-size: 10px;
}
#tooltip {
  position: absolute;
  width: 120px;
  height: auto;
  right:10px;
  top: 10px;
  padding: 5px;
  background-color: black;
  color: #FFF;
   background: rgba(0, 0, 0, 0.85);

  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
}