.graph-bar{
	/*fill: steelblue;*/
  fill: #00BAFF;
  cursor: pointer;

}

.block-graph{
  background-color: #474747;
}

#slides{
width: 185px;
margin: 0 auto;
text-align: center;
margin-top: 5px;
}

#slides #amount{
  padding: 2px;
}

#slides p{
  padding: 3px;
  font-size: 12px;
  color: white;
}

#slider-range-max{
margin-top: 5px;

}

.info-button{
  clear: both;
  float: left;
  padding: 4px;
  background-color: lightblue;
  cursor: pointer;
}


#info-text{
  display: none;
  width: 90%;
  height: auto;
  margin-left: 5%;
  background-color: black;
  color: white;
  position: absolute;
  left:0px;
  top: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  opacity:0.85;
  filter:alpha(opacity=85); /* For IE8 and earlier */
}

#info-text table{
  margin: 6px;
}

#info-text table td,th{
  padding: 8px;
}

#info-text p{
  font-size: 14px;
  padding: 4px;
}

/*#info-text .close p{
  font-size: 14px;
}*/

.source p{
  padding: 4px;
  font-size: 10px;
}
#tooltip {
  position: absolute;
  width: 114px;
  height: auto;
  left:106px;
  top: 5px;
  padding: 2px;
  background-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
}