@font-face {
  font-family: 'Droid Sans';
  font-weight: normal;
  src: url(../fonts/DroidSans.ttf); 
}

@font-face {
  font-family: 'Droid Sans';
  font-weight: bold;
  src: url(../fonts/DroidSans-Bold.ttf); 
}

html, body{
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
	background: #F5F5F5;
	padding: 0;
	margin: 0;
}

.wrapper{
	margin: 0 auto;
	width:960px;
	/*-webkit-overflow-scrolling: touch;*/
}

.title {
margin-top: 0px;
background-color: #474747;
height: 50px;
color: #FFF;
}

.wrapper-title {
width: 960px;
height: 50px;
margin: 0 auto;
}

.title h1 {
font-weight: bold;
line-height: 50px;
font-size: 25px;
margin-left: 10px;
display: inline;
}

.title p {
font-size: 11px;
margin-left: 2px;
display: inline;
}

.block-wrapper{
	width: 730px;
float: left;
}
.block-a{
background-color: #474747;
width: 230px;
height: 230px;
margin-top: 13.2px;
float: left;
padding: 0;
margin-right: 13.2px;
margin-bottom: 13.2px;
position: relative;
}

.block-b{
background: #474747;
width: 473px;
height: 230px;
margin-top: 13.2px;
float: left;
padding: 0;
margin-right: 13.2px;
margin-bottom: 13.2px;
position: relative;
}

.block-graph{
position: relative;

width: 230px;
height: 375px;
margin-top: 13.2px;
float: left;
}

.block-lastest-quake{
background: #474747;
width: 230px;
height: 165px;
margin-top: 13.2px;
float: left;
position: relative;
}

.lastest-quake-wrapper{
	margin-top: 10px; 
	margin-left: 10px;
	margin-right: 10px;
	/*margin-top: 10px; */
}

.block-lastest-quake h2{
	color: #FFF;
font-size: 15px;
margin-top: 5px;
margin-bottom: 2px;
}


#latest-mag-eq{
	font-size: 50px;
	font-weight: bold;
	color: #F8BD00;
}

.latest-mag-text{
color: #F8BD00;
	font-size: 12px;
	margin-bottom: 7px;
}
.latest-mag-text-mag{
	font-size: 12px;
	position: absolute;
	bottom: 25px;
	color: #F8BD00;
}

.key-eq{
	color: white;
}

.latest-detail-info-text{
color: #FFF;
background-color: #2A2A2A;
font-size: 10px;
padding-left: 10px;
height: 30px;
width: 220px;
line-height: 30px;
font-weight: bold;
position: absolute;
bottom: 0;
}

#info-button-latest-toggle{
cursor: pointer;
float: left;
background: url("../images/info-button.png")no-repeat scroll rgba(0, 0, 0, 0);
background-size: 50px auto;
height: 22px;
width: 22px;
text-indent: -9999px;
position: absolute;
bottom: 4px;
right: 10px;
}
/*#info-button-latest-toggle:hover{
background-position: -28px -0.5px;
}*/

#info-text-latest{
  display: none;
  width: 210px;
  height: auto;
  margin-left: 10px;
  background-color: black;
  color: white;
  position: absolute;
  left:0px;
  top: 10px;
  background: rgba(0, 0, 0, 0.85);
}

#info-text-latest p{
  font-size: 12px;
  padding: 10px;
}

#info-text-latest-close{
  width: 30px;
  cursor: pointer;
}


.block-map{
background-color: #2A2A2A;
width: 716px;
height: 310px;
clear: both;
position: relative;

}

.info-text-top{
color: #fff;
font-size: 14px;
position: absolute;
margin: 10px;
}

.prime-info-text-middle{
	color: #00BAFF;
font-size: 90px;
text-align: center;
line-height: 230px;
}

.info-text-bottom{
color: #D8D8D8;
font-size: 20px;
position: absolute;
bottom: 50px;
left: 20px;
}

.detail-info-text-block-a{
color: #FFF;
background-color: #2A2A2A;
font-size: 10px;
padding-left: 10px;
height: 50px;
width: 220px;
line-height: 30px;
font-weight: bold;
position: absolute;
bottom: 0;
}

#total-eq-since-title{
line-height: 0.5em;
margin-top: 13px;
}

.detail-info-text{
color: #FFF;
background-color: #1B3344;

font-size: 10px;

padding-left: 20px;
height: 30px;
width: 210px;
line-height: 30px;
font-weight: bold;
position: absolute;
bottom: 0;
}

#block-table{
	clear: both;
	float: left;
	width: 960px;
	height: 328px;
	margin-top: 13.2px;
	/*margin-bottom: 13.2px;*/
	position: relative;
	background: #474747;
}

#block-footer{
	clear: both;
	float: left;
	width: 960px;
	height: 58px;
	
	margin-top: 13.2px;
	/*margin-bottom: 13.2px;*/
	position: relative;
	/*background: #474747;*/
}



