#viz-map{
	background-color: #474747;
	float: left;
	width: 100%;
<<<<<<< HEAD
	height: 335px;
=======
	height: 310px;
>>>>>>> merge_map
}


.map-container{
 	width: 450px;
}


#map-path{
	fill: white;
}
.map-header{
	height: 30px;
	color: rgb(255, 255, 255);
	width: 225px;
	float: left;
	
}
.map-header p{
	margin-left: 10px;
	margin-top: 10px;
    font-size: 12px;
    width: 250px;
}

.mag-circle-0{
	z-index: 0;
	width:8px !important;
	height:8px !important;
	background-color: rgba(118, 183, 0, 0.3);
	border-style: solid;
    border-width: 2px;
    border-color: rgb(118, 183, 0);
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px; 
	-khtml-border-radius: 40px;
}

.mag-circle-1{
	z-index: 0;
	width:8px !important;
	height:8px !important;
	background-color: rgba(118, 183, 0, 0.3);
	border-style: solid;
    border-width: 2px;
    border-color: rgb(118, 183, 0);
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px; 
	-khtml-border-radius: 40px;
}

.mag-circle-2{
	z-index: 0;
	width:8px !important;
	height:8px !important;
	background-color: rgba(0, 128, 0, 0.3);
	border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 128, 0);
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px; 
	-khtml-border-radius: 40px;
}

.mag-circle-3{
	z-index: 0;
	width:8px !important;
	height:8px !important;
	background-color: rgba(255, 143, 0, 0.3);
	border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 143, 0);
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px; 
	-khtml-border-radius: 40px;
}

.mag-circle-4{
	z-index: 0;
	width:8px !important;
	height:8px !important;
	background-color: rgba(255, 92, 0, 0.3);
	border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 92, 0);
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px; 
	-khtml-border-radius: 40px;
}
.mag-circle-5{
	z-index: 0;
	width:8px !important;
	height:8px !important;
	background-color: rgba(255, 0, 0, 0.3);
	border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 0, 0);
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px; 
	-khtml-border-radius: 40px;
}
.mag-circle-6{
	z-index: 0;
	width:8px !important;
	height:8px !important;
	background-color: rgba(153, 0, 255, 0.3);
	border-style: solid;
    border-width: 2px;
    border-color: rgb(153, 0, 255);
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px; 
	-khtml-border-radius: 40px;
}

.mag-circle-selected{
	z-index: 1000;
	width:8px !important;
	height:8px !important;
	/*background-color: rgba(255, 0, 0, 0.3);*/
	border-style: solid;
    border-width: 7px;
    border-color: rgb(42, 42, 42);
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px; 
	-khtml-border-radius: 40px;
}
.svg-marker{
	z-index: 1 !important;
}

.markIcon{
	z-index: 2 !important;
}


.map-time-button-selected{
	color: yellow;
	cursor: pointer;
}

.map-time-button-not-selected{
	color: white;
	cursor: pointer;
}

.map-mag-button-selected{
	color: yellow;
	cursor: pointer;
}

.map-mag-button-not-selected{
	color: white;
	cursor: pointer;
}




#mag-buttons, #date-buttons {
	/*clear: both;
	float: left;*/
}

#mag-buttons, #date-buttons h1{
	font-size: 12px;

}

.mag-button, .date-button, .sort-button{
	float: left;
	background-color: #2E5879;
	color: white;
	width: 160px;
	height: 30px;
	margin-right: 1px;
	cursor: pointer;
	text-align: center;
	line-height: 30px;
	/*opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";*/
}

.map-time-button-selected{
	float: left;
	background-color: rgb(248, 189, 0);
	color: rgb(42, 42, 42);
	cursor: pointer;
	padding: 5px;
	border-bottom: 1px solid rgb(42, 42, 42);
	border-left: 1px solid rgb(42, 42, 42);
	width: 139px;
	height: 32px;
	text-align: center;
<<<<<<< HEAD
	line-height: 40.5px;
=======
	line-height: 32px;
>>>>>>> merge_map
	font-size: 12px;
	font-weight: bold;

}

.map-mag-button-selected{
	float: left;
	background-color: rgb(248, 189, 0);
	color: rgb(42, 42, 42);
	cursor: pointer;
	padding: 5px;
	border-bottom: 1px solid rgb(42, 42, 42);
	border-left: 1px solid rgb(42, 42, 42);
	width: 105px;
	height: 15px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	font-weight: bold;
}


#map-mag-buttons{
	float: left;
	width: 75px;
<<<<<<< HEAD
	height: 20px;
=======
	/*height: 20px;*/
>>>>>>> merge_map
}
#map-time-buttons{
	float: left;
	width: 150px;
<<<<<<< HEAD
	height: 20px;
=======
	/*height: 20px;*/
>>>>>>> merge_map
}

.button-container{
	float: left;
	/*width: 235px;*/
	height: 153px;
}

.map-time-button-not-selected{
	float: left;
<<<<<<< HEAD
	/*background-color: rgb(46, 88, 121);*/
	background-color: rgb(47, 122, 101);
=======
	/* background-color: rgb(46, 88, 121); */
	background-color: rgb(0, 186, 255);
>>>>>>> merge_map
	cursor: pointer;
	padding: 5px;
	border-bottom: 1px solid rgb(42, 42, 42);
	border-left: 1px solid rgb(42, 42, 42);
	width: 139px;
	height: 32px;
	text-align: center;
<<<<<<< HEAD
	line-height: 40.5px;
=======
	line-height: 32px;
>>>>>>> merge_map
	color: rgb(255, 255, 255);
	font-size: 12px;
	font-weight: bold;
}

.map-mag-button-not-selected{
	float: left;
	background-color: rgb(46, 88, 121);
	cursor: pointer;
	padding: 5px;
	border-bottom: 1px solid rgb(42, 42, 42);
	border-left: 1px solid rgb(42, 42, 42);
	width: 105px;
	height: 15px;
	text-align: center;
	line-height: 20px;
	color: rgb(255, 255, 255);
	font-size: 12px;
	font-weight: bold;
}




.mag-button:nth-last-child(1)
{
margin-right: -1px;
}

.date-button:nth-last-child(2)
{
margin-right: -1px;
}


.date-button{
	background-color: #569BD2;
}

.date-button:nth-of-type(1), .mag-button:nth-of-type(1)
{
	opacity: 1;
} 

#quake-details{
	visibility: hidden;
<<<<<<< HEAD
	width: 215px;
	float: left;
	padding: 10px;
	height: 110px;
=======
	width: 245px;
	float: left;
	padding: 10px;
	height: 110px;
	clear: both;
>>>>>>> merge_map
}


.map-mag-text{
color: #F8BD00;
font-size: 12px;
<<<<<<< HEAD
margin-bottom: 7px;
=======
margin-bottom: 4px;
>>>>>>> merge_map
}

.map-key-eq{
	color: #FFF;
}




