#viz-map{
	background-color: #474747;
	float: left;
	width: 100%;
	height: 335px;
}


.map-button-box{
 	width: 481px;
}

#map-path{
	fill: white;
}

#mag-buttons, #date-buttons {
	clear: both;
	float: left;
}

#mag-buttons, #date-buttons h1{
	font-size: 12px;

}

.mag-button, .date-button, .sort-button{
	float: left;
	background-color: #2E5879;
	color: white;
	width: 160px;
	height: 30px;
	margin-right: 1px;
	cursor: pointer;
	text-align: center;
	line-height: 30px;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.mag-button:nth-last-child(1)
{
margin-right: -1px;
}

.date-button:nth-last-child(2)
{
margin-right: -1px;
}


.date-button{
	background-color: #569BD2;
}

.date-button:nth-of-type(1), .mag-button:nth-of-type(1)
{
	opacity: 1;
} 

#quake-table{
	/*margin: 5px;*/
	/*float: left;*/
	width: 235px;
	height: 335px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
/*	overflow-x: hidden;
	overflow-y: hidden;	*/


}

#quake-table h1{
	font-size: 12px;
	font-weight: bold;
}

#quake-table span{
	color: #2E5879;
	font-weight: normal;
}
.table{
	cursor: pointer;
	padding: 5px;
	background-color: white;
}

.table:nth-child(2n)
{
    background-color: #E0E0E0;
}

#test{
	background-color: #F8BD00;
}


/*tr:nth-child(2n)
{
    background-color: #E0E0E0;
}*/



