#viz-map{
	background-color: #474747;
	float: left;
	width: 100%;
	height: 310px;
}


.map-container{
 	width: 450px;
}


#map-path{
	fill: white;
}
.map-header{
	height: 30px;
	color: rgb(255, 255, 255);
	width: 225px;
	float: left;
	
}
.map-header p{
	margin-left: 10px;
	margin-top: 10px;
    font-size: 12px;
    width: 250px;
}

.mag-circle-0{
	z-index: 0;
	width:8px !important;
	height:8px !important;
	background-color: rgba(118, 183, 0, 0.3);
	border-style: solid;
    border-width: 2px;
    border-color: rgb(118, 183, 0);
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px; 
	-khtml-border-radius: 40px;
}

.mag-circle-1{
	z-index: 0;
	width:8px !important;
	height:8px !important;
	background-color: rgba(118, 183, 0, 0.3);
	border-style: solid;
    border-width: 2px;
    border-color: rgb(118, 183, 0);
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px; 
	-khtml-border-radius: 40px;
}

.mag-circle-2{
	z-index: 0;
	width:8px !important;
	height:8px !important;
	background-color: rgba(0, 128, 0, 0.3);
	border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 128, 0);
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px; 
	-khtml-border-radius: 40px;
}

.mag-circle-3{
	z-index: 0;
	width:8px !important;
	height:8px !important;
	background-color: rgba(255, 143, 0, 0.3);
	border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 143, 0);
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px; 
	-khtml-border-radius: 40px;
}

.mag-circle-4{
	z-index: 0;
	width:8px !important;
	height:8px !important;
	background-color: rgba(255, 92, 0, 0.3);
	border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 92, 0);
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px; 
	-khtml-border-radius: 40px;
}
.mag-circle-5{
	z-index: 0;
	width:8px !important;
	height:8px !important;
	background-color: rgba(255, 0, 0, 0.3);
	border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 0, 0);
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px; 
	-khtml-border-radius: 40px;
}
.mag-circle-6{
	z-index: 0;
	width:8px !important;
	height:8px !important;
	background-color: rgba(153, 0, 255, 0.3);
	border-style: solid;
    border-width: 2px;
    border-color: rgb(153, 0, 255);
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px; 
	-khtml-border-radius: 40px;
}

.mag-circle-selected{
	z-index: 1000;
	width:8px !important;
	height:8px !important;
	/*background-color: rgba(255, 0, 0, 0.3);*/
	border-style: solid;
    border-width: 7px;
    border-color: rgb(42, 42, 42);
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px; 
	-khtml-border-radius: 40px;
}
.svg-marker{
	z-index: 1 !important;
}

.markIcon{
	z-index: 2 !important;
}


.map-time-button-selected{
	color: yellow;
	cursor: pointer;
}

.map-time-button-not-selected{
	color: white;
	cursor: pointer;
}

.map-mag-button-selected{
	color: yellow;
	cursor: pointer;
}

.map-mag-button-not-selected{
	color: white;
	cursor: pointer;
}




#mag-buttons, #date-buttons {
	/*clear: both;
	float: left;*/
}

#mag-buttons, #date-buttons h1{
	font-size: 12px;

}

.mag-button, .date-button, .sort-button{
	float: left;
	background-color: #2E5879;
	color: white;
	width: 160px;
	height: 30px;
	margin-right: 1px;
	cursor: pointer;
	text-align: center;
	line-height: 30px;
	/*opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";*/
}

.map-time-button-selected{
	float: left;
	background-color: rgb(248, 189, 0);
	color: rgb(42, 42, 42);
	cursor: pointer;
	padding: 5px;
	border-bottom: 1px solid rgb(42, 42, 42);
	border-left: 1px solid rgb(42, 42, 42);
	width: 139px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	font-size: 12px;
	font-weight: bold;

}

.map-mag-button-selected{
	float: left;
	background-color: rgb(248, 189, 0);
	color: rgb(42, 42, 42);
	cursor: pointer;
	padding: 5px;
	border-bottom: 1px solid rgb(42, 42, 42);
	border-left: 1px solid rgb(42, 42, 42);
	width: 105px;
	height: 15px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	font-weight: bold;
}


#map-mag-buttons{
	float: left;
	width: 75px;
	/*height: 20px;*/
}
#map-time-buttons{
	float: left;
	width: 150px;
	/*height: 20px;*/
}

.button-container{
	float: left;
	/*width: 235px;*/
	height: 153px;
	position: relative;
}

.map-time-button-not-selected{
	float: left;
	/* background-color: rgb(46, 88, 121); */
	background-color: rgb(0, 186, 255);
	cursor: pointer;
	padding: 5px;
	border-bottom: 1px solid rgb(42, 42, 42);
	border-left: 1px solid rgb(42, 42, 42);
	width: 139px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	color: rgb(255, 255, 255);
	font-size: 12px;
	font-weight: bold;
}

.map-mag-button-not-selected{
	float: left;
	background-color: rgb(46, 88, 121);
	cursor: pointer;
	padding: 5px;
	border-bottom: 1px solid rgb(42, 42, 42);
	border-left: 1px solid rgb(42, 42, 42);
	width: 105px;
	height: 15px;
	text-align: center;
	line-height: 20px;
	color: rgb(255, 255, 255);
	font-size: 12px;
	font-weight: bold;
}




.mag-button:nth-last-child(1)
{
margin-right: -1px;
}

.date-button:nth-last-child(2)
{
margin-right: -1px;
}


.date-button{
	background-color: #569BD2;
}

.date-button:nth-of-type(1), .mag-button:nth-of-type(1)
{
	opacity: 1;
} 

#quake-details{
	visibility: hidden;
	width: 245px;
	float: left;
	padding: 10px;
	height: 110px;
	clear: both;
}


.map-mag-text{
color: #F8BD00;
font-size: 12px;
margin-bottom: 4px;
}

.map-key-eq{
	color: #FFF;
}

#info-button-map-toggle{
cursor: pointer;
float: left;
background: url("../images/info-button.png")no-repeat scroll rgba(0, 0, 0, 0);
background-size: 50px auto;
height: 22px;
width: 22px;
text-indent: -9999px;
position: absolute;
bottom: 4px;
right: 10px;
}
/*#info-button-latest-toggle:hover{
background-position: -28px -0.5px;
}*/

#info-text-map{
  z-index: 1000;
  display: none;
  width: 230px;
  height: 200px;
  margin-left: 10px;
  background-color: black;
  color: white;
  position: absolute;
  left:0px;
  top: 10px;
  background: rgba(0, 0, 0, 0.85);
}

#info-text-map p{
  font-size: 12px;
  padding: 20px 10px 10px 10px;
}

#info-text-map-close{
  width: 30px;
  cursor: pointer;
}

.leaflet-bar a:first-child {
border-top-left-radius: 0px !important;
border-top-right-radius: 0px !important;
}

.leaflet-bar a:last-child {
 border-bottom-left-radius: 0px !important; 
border-bottom-right-radius: 0px !important;
}


