#viz-b{
	background: white;
	position: relative;
}
.b-axis path,
.b-axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.b-axis text {
	font-family: arial;
	font-size: 10px;
	font-weight: normal;
}

.b-label{
	font-size: 12px;
}
.b-buttons{
	width: 100%;
}

.b-buttons h1{
	float: left;
	cursor: pointer;
	margin: 5px;
	padding: 5px;
	background-color: white;
}

#mag1{
	background-color: #2E5879;
	color: white;
}